body {
  font-family: "Poppins", sans-serif;
  margin: opx;
}
.display-flex {
  display: flex;
}
#head-section {
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

.nav {
  padding: 0 10px;
}
.logo {
  width: 30%;
}
.logo p {
  color: crimson;
  font-size: 30px;
  font-weight: 800;
}
.logo p span {
  color: rgb(250, 245, 245);
}
.navbar {
  width: 70%;
  text-align: right;
}
.navbar ul {
  list-style: none;
}
.navbar ul li {
  display: inline-block;
}
.navbar ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  padding: 5px 10px;
  margin-top: 10px;
  transition: 0.5s;
}
.navbar ul li a:hover {
  color: #8b0000;
}
.active {
  color: #8b0000 !important;
}

.flexible-container {
  display: flex;
  margin-bottom: 150px;
}

.half-width {
  width: 50%;
  padding: 5%;
}
.half-width img {
  width: 80%;
  border-radius: 10%;
}
span {
  color: orange;
}
.link-button {
  background-image: linear-gradient(#c33764, #1d2671);
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 10px;
  font-weight: 700;
  color: whitesmoke;
}
.Contact-button {
  background-image: linear-gradient(#c33764, #1d2671);
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 10px;
  font-weight: 700;
  color: whitesmoke;
}
h1 {
  font-size: 50px;
  font-weight: bold;
  color: #575757;
  margin: 0;
}
h2 {
  font-size: 35px;
  font-weight: bold;
  color: #303030;
}
h3 {
  font-size: 25px;
}
#bg-img {
  background-image: url("../img/shapes/7.png");
}
.recipe {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
.recipe-area {
  display: flex;
  padding: 0 70px;
  }
.recipe-item {
  width: 33%;
  margin: 10px 20px;
  padding: 20px;
  box-shadow: 1px 10px 20px rgba(6, 21, 97, 0.199);
  border-radius: 20px;
  text-align: justify;
}
.recipe-item img {
  width: 100%;
  margin: 0 auto;
  border-radius: 20px;

}
.recipe-item a {
  text-align: center;
  display: block;
  margin: 20px 80px;
}
.btn{
  background-image: linear-gradient(#c33764, #1d2671);
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 10px;
  font-weight: 700;
  color: whitesmoke;

}
#food-gallery{
  background-color: rgb(241, 180, 180);
  padding: 40px 0;
}
.gallery-title{
  width: 50%;
  text-align: center;
  margin: auto;
}
.gallery-title h1{
  color: rgb(187, 144, 52);
}
.gallery-title p{
  text-align: center;
  color: #9ea4d4;
  font-size: 18px;
  margin-top: -15px;
  margin-bottom: 50px;
}
.food{
  width: 100%;
  margin: auto; 
}
.food-item{
  width: 48%;
  padding-left: 5px;
  margin-top: 5px;
}
.food-item img{
  width: 40%;
  border-radius: 5px;
  border: 2px solid #fff;
}
.subscriber{
  box-shadow: 10px 10px 40px  rgb(22, 0, 0) ;
 margin: 0 100px;
  margin-bottom: 100px;
  padding: 15px 0;
  border-radius: 2%;
  display: flex;
}
.count{
  width: 33.33%;
  text-align: center;
}
